@import '../Mixin.scss';


.contact{
    display: flex;
    justify-content: center;
    align-items:center ;
    background: linear-gradient(to bottom, #030a13d3, rgba(255, 68, 0, 0.534));
    padding: 55px 0;
    height: 100%;
    gap: 70px;

    .contact-left{
    display: flex;
    flex-direction: column;
    color: rgba(250, 248, 246, 0.329);
    padding: 0px 20px;
    
    span{
     padding: 5px 0;
     cursor: pointer;
    }

   
    }

    .contact-right{
    
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
    gap: 10px;

    .contact-detail{
        
        .contact-page{
            padding: 20px 10px;
            margin: 10px;   
            width: 700px;        
                        
            h1{
                font-size: 27px;
                font-family: 'Times New Roman', Times, serif;
            color: white;
            text-align: center;
            
            }
                        
            .contact-form{
                        
            border: 1px solid rgba(0, 0, 0, 0.616);
            outline: 1px solid rgba(0, 0, 0, 0.527);
            outline-offset: 10px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            max-width: 700px;
            padding: 20px;
            margin: 0 auto;
            justify-content: center;
            align-items: center;
            

            //for mixin     
           
            .sm{
            background-color: transparent;
            border: 1px solid rgba(0, 0, 0, 0.413);
            color: black;
            transition: all 0.3s ease-in;
            
            &:hover{
            background-color: black;
            color: white;
            }
            }
            }
            }
    }
    }
}